<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="../node_modules/vue/dist/vue.js"></script>
    <!--<script src="./node_modules/vue/dist/vue.common.js"></script>-->
    <!--<script src="./node_modules/vue/dist/vue.esm.js"></script>-->
    <!--<script src="./node_modules/vue/dist/vue.esm.browser.js"></script>-->
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
    <span v-bind:title="message">悬停查看</span>
</div>
<div id="app-3">
    <p v-if="seen">你能看到我！</p>
    <button v-on:click="offsetButton">消失</button>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todo">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">逆转消息</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">

</div>
<div id="app-7">
    <ol>
        <todo-item v-for="i in groceryList"
                   v-bind:todo="i"
                   v-bind:key="i.id">
        </todo-item>
    </ol>
</div>
<div id="example">
    <p>Original message:"{{message}}"</p>
    <p>Computed reversed message:"{{reversedMessage()}}"</p>
</div>
<div id="demo">
    {{fullName}}
</div>
<div id="watch-example">
    <p>Ask a yes/no question:
        <input v-model="question">
    </p>
    <p>{{ answer }}</p>
</div>
<script src="vue.js"></script>
</body>
</html>